# Ejemplo de configuración
# Copia este archivo como .env y coloca tus valores reales (el .env real no se sube a GitHub)

DB_NAME=plataformapark_db
DB_USER=postgres_usuario_seguro
DB_PASSWORD=postgres_password_seguro
DJANGO_SECRET_KEY=clave_secreta_django
